@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 0;
}

h3 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 0;
}

h4 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0;
}

h6 {
    font-size: 18px;
    margin-bottom: 0;
}

a {
    font-size: 18px;
    text-decoration: none;
}

label {
    font-size: 17px;
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
}

input:focus-visible {
    outline: none;
}

.fs-14 {
    font-size: 14px;
    line-height: normal;
}